@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');

* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
}

header {
  padding: 20px;
}

header h1 {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

div.score-board {
  text-align: center;
  height: 300px;
  margin-bottom: 30px;
  color: #b33939;
}

div.score-board div {
  display: inline;
  line-height: 300px;
  font-family: 'Raleway Dots', cursive;
  font-size: 50px
}

div.user, div.computer {
  height: 300px;
  width: 33%;
}

div.user {
  float: left
}

div.computer {
  float: right
}

div.result-message {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 22px
}

div.cards {
  margin: 20px auto;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.card {
  margin: 10px 10px;
  transform: scale(1);
  cursor: pointer;
}

.card:hover {
  transform: scale(.95);
  transition: transform .2s
}

div.card img {
  width: 200px
}